.about-container {
    display: flex;
    margin-bottom: 100px;
}

.img-container {
    margin-left: 15px;
}

.about-img {
    width: 100%;
    filter: grayscale(100%);
}

.first-about-txt {
    font-size: 20px;
    letter-spacing: 2px;
}

.second-about-txt {
    color: grey;
}

.third-about-txt {
    font-size: 18px;
}

.contact {
    height: 50px;
    width: 100%;
    border-style: none;
    font-size: 20px;
    letter-spacing: 3px;
}

.about-txt {
    font-size: 20px;
    margin-left: 20px;
    letter-spacing: 1px;
}

@media (max-width: 750px) {
    .about-container {
        display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width: 999px) {
    .about-container {
        display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .about-container {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


